/* font-family: 'Rubik', sans-serif;
font-family: 'Dancing Script', cursive; 
font-family: 'Kalam', cursive;*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    color:#000;
}
.padding{
    padding: 8rem 33px ;
}
/* ::-webkit-scrollbar{
	width:0px;
}
::-webkit-scrollbar-track{
	background:transparent;
}
::-webkit-scrollbar-thumb{
	background:#ffffff00;
} */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 17px 33px;
    background-color: #f4fbfb99;
    backdrop-filter: blur(0.8rem);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    font-size: 20px;
    color: #17d7ab;
}
header .logo h2{
    color: inherit;
}
header .logo span{
    color: #00000075;
    font-weight: 200;
}
header nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}
header ul li a{
    position: relative;
    color: #0000008c;
    transition: .3s;
}
header ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: black;
    top: 50%;
    z-index: -1;
    left: 0;
    transition: .5s;
}
header ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: black;
    top: 50%;
    z-index: -1;
    right: 0;
    transition: .5s;
}

header ul li a:hover{
    color:#000;
}
header ul li a:hover::before,
header ul li a:hover::after{
width: 50%;
}
 .loga{
    background: #aaf1f58a;
    padding: 10px;
    border-radius: 22px;
}
.landing {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url(../img/h3.jpg);
    background-position: center;
     background-size: 100%;
    position: relative;
    top: 80px;
    display: flex;
    align-items: center;
    padding: 0 33px;
}
.landing .text {
    width: 35%;
    height: 44%;
}
.landing .text h3 {
    padding: 10px;
    background: #b6b9b9;
    width: 73px;
    text-align: center;
    border-radius: 4px;
    color: #041c12;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}
.landing .text h2 {
    text-align: center;
    color: #2a957c;
    letter-spacing: 1px;
    background: #f8fcfc;
    width: 137px;
    /* padding: 3px; */
    margin: 10px 0;
}
.text-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.text-left h4{
    background: #23b996;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: aliceblue;
}
.text-left h2 {
    margin: 10px 0;
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 1px;
    text-shadow: 5px -4px #0000007a;
}
.text-left p {
    width: 70%;
    line-height: 2;
    color: #ffffff6b;
    letter-spacing: 0.7px;
    margin: 10px 0;
    text-shadow: -1px 1px black;
    font-size: 21px;
    font-weight: 900;
    font-style: italic;
    font-family: auto;
}
.str-star{
    padding: 10px;
    background: #35c19a;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 10%);
}
.sec-2{
    width: 100%;
    height: auto;
    background-color: #f6f6f6;
}
.sec-2 .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-2 .container .card {
    position: relative;
    width: 244px;
    height: 409px;
    background: #fff;
    margin: 0 20px;
    cursor: default;
}
.sec-2 .container .card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    background: #b4dde1;
    bottom: 0;
    clip-path: polygon(0 17%, 100% 0, 100% 100%, 0% 100%);
    transition: .3s;
}
.sec-2 .container .card:hover::before{
    height: 100%;
clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%); 
}
.sec-2 .container .card i {
    z-index: 100;
    position: relative;
    font-size: 45px;
    text-align: center;
    width: 100%;
    color: #17d7ab;
    margin: 19px 0 0px 0px;
    height: 21%;
}
.sec-2 .container .card .text {
    position: relative;
    z-index: 100;
    height: 74.4%;
    text-align: center;
}
.sec-2 .container .card .text h4 {
    font-size: 20px;
    color: #11a180;
    margin: 3px 0;
}
.sec-2 .container .card .text p {
    font-size: 15px;
    line-height: 1.9;
    font-weight: 400;
    color: #053834;
}
.sec-2 .container .card img{
    width: 80%;
}
.orders {
    position: relative;
    width: 100%;
    height: auto;
    background: #eee;
}
.orders .hedor {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orders .hedor .h {
    padding: 10px;
    background: #fff;
    cursor: pointer;
    margin: 5px;
}
.orders .hedor .h.active{
    background: #1699b1c2;
}
.orders .container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.orders .container .card {
    width: 330px;
    background: #fff;
    margin: 10px;
    overflow: hidden;
    transition: .3s;
}
.orders .container .card .h-hed {
    padding: 19px 23px;
    transition: .3s;
}
.orders .container .card .h-hed span{
    background: red;
    padding: 5px;
    color: #fff;
}
.orders .container .card img{
width: 100%;
}
.orders .container .card .text{
padding: 10px;
}
.orders .container .card .text .head-text-o {
    margin: 10px 0;
}
.orders .container .card .text .head-text-o span {
    color: #444;
}
.orders .container .card .text .head-text-o i {
    color: #f9af29;
}
.orders .container .card .text h3{
margin: 10px 0;
}
.orders .container .card .text .pric p {
    color: #000000d1;
}
.orders .container .card .text .pric p .offer {
    color: #777;
}
.orders .container .card .text .pric p span {
    color: #17d7ab;
}
.orders .container .order-btn {
    direction: rtl;
    padding: 0 10px 10px 0;
    transition: .3s;
}
.orders .container .order-btn a {
    background: #49adbf;
    padding: 5px 16px;
    color: #fff;
}
.container{
	width:100%;
	height:100vh;
    display:flex;
	flex-wrap:wrap;
}
.container .form {
    background: linear-gradient(#00bfa6, #2f2e41);
    width: 58%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    direction: rtl;
}
.container .form input{
	position:relative;
    padding: 15px;
    outline: none;
    border: 0;
    width: 85%;
    margin: 9px;
    background: #ffffffde;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    color: #5c5151d6;
    font-size: 19px;
}
.container .form input::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:red;
    z-index: 1;
    left: 0;
    transition: 0.3s;
}
.container .form .btn{
	text-align:center;
}
.container .form .button {
    position: relative;
    width: 236px;
    height: 61px;
    padding: 10px 20px;
    color: #777;
    font-size: 20px;
    outline: none;
    border: 0;
    border-radius: 53px;
    cursor: pointer;
	transition:0.3s;
}
.container .form .button.active .s {
	display:block;
	opacity:1;
}
.container .form .button .s {
    position: absolute;
    top: 50%;
    left: 19%;
    transform: translate(-50%, -50%) rotate(0deg);
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 3px solid #00bfa6;
    border-bottom: 3.7px solid #2f2e41;
    animation: C 1s infinite linear;
	display:none;
	opacity:0;
	transition:0.3s;
}
@keyframes C{
	10%{
		transform:translate(-50%, -50%) rotate(0deg);
	}
	100%{
		transform:translate(-50%, -50%) rotate(360deg);
	}
}
.container  .background {
    width: 42%;
    height: 100%;
    background: url(../img/img1.png);
    background-position: center;
    background-size: 126%;
    background-repeat: no-repeat;
}
.contant {
    position: fixed;
    right: -340px;
    top: 93px;
    background: #00bfa6;
    width: 295px;
    height: 50px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: white;
    transition: 0.5s;
    opacity: 0;
    border-top-right-radius: 20px;
}
.contant.active{	
    opacity: 1;
    right: 0;
}
.contant p {
    margin: 6px 0 0 16px;
    font-size: 17px;
}
.contant .sh {
    height: 7px;
    width: 100%;
    background: #7777774d;
    position: absolute;
    bottom: 0;
    right: 0;
}
.contant .sh span {
    position: absolute;
    width: 47%;
    height: 100%;
    top: 0;
    right: 0;
    background: #cacacad4;
    display: block;
}
.contant .X{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 32px;
	text-align:center;
    background: red;
    border: 3.5px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
/* KEY Frams animation*/
/* KEY Frams animation*/
